*{
  margin: 0;
  padding: 0;
}
body{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.box{
  font-size: 40%;
  background-color: #fff;
  box-shadow: 2px -1px 12px 0px rgba(0,0,0,0.75);
}
.h1{
    position: relative;
    text-align: center;
}
.col-sm-4{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
    top:-20px;
    z-index:2;
}
#table-wrapper {
    position:relative;
  }
  #table-scroll {
    height:500px;
    overflow:auto;  
    margin-top:20px;
  }
  #table-wrapper table {
    width:100%;
  
  }
  #table-wrapper table thead th .text {
    position:absolute;   
    top:-20px;
    z-index:2;
    height:20px;
    width:35%;
    border:1px solid red;
  }
  .activ{
    background-color:rgba(68,155,226,.3);
    color:#002c57;
  }
  .t-green{
      color: #005c25;
  }
  .b-green{
    background-color:rgba(40,167,69,.3);
  }
  .t-red{
      color: #5a0401;
  }
  .b-red{
    background-color:rgba(255,7,58,.12549);
  }
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #e95d5d;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


  