{% load static %}
<!-- Made With Love by Prashant Pandey. -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>COVID19 India</title>

    <!-- Favicon icon -->
    <link href="{%static 'media/images/coro.jpg'%}" rel="shortcut icon" type="">

    {%include 'css.html'%}

  </head>
  <body style="background-color: #000;">
  {% block content %}
  {% endblock content %}

	{%include 'footer.html'%}

	{%include 'js.html'%}
  </body>
</html>