{% load static %}
<!-- Made With Love by Prashant Pandey. -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000">
    <meta name="theme-color" content="#ffffff">
    <meta name="title" content="Coronavirus Outbreak in Global: Latest Case Count">
    <title>COVID19 India</title>
    <meta name="description" content="A volunteer-driven crowdsourced effort to track the coronavirus in India and Globally. A detailed case count shows the extent of the coronavirus outbreak, with tables of the number of cases by state and country">
    <!-- Favicon icon -->
    <link rel="manifest" href="{%static 'js/manifest.json'%}">
    <link href="{%static 'media/images/coro.png'%}" rel="shortcut icon">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://covidindiaa.pythonanywhere.com/">
    <meta property="og:title" content="Coronavirus in India and Global: Latest Case Count">
    <meta property="og:description" content="A volunteer-driven crowdsourced effort to track the coronavirus in India and Globally. A detailed case count shows the extent of the coronavirus outbreak, with tables of the number of cases by state and country">
    <meta property="og:image" content="https://raw.githubusercontent.com/prashantpandey9/Covid19-India-tracker/master/static/media/images/coro.jpg">
    <meta property="og:image:width" content="512">
    <meta property="og:image:height" content="512">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="http://covidindiaa.pythonanywhere.com/">
    <meta property="twitter:title" content="Coronavirus in India and global: LatestCase Count">
    <meta name="twitter:site" value="@covid19indiaorg">
    <meta property="twitter:description" content="A volunteer-driven crowdsourced effort to track the coronavirus in India and Globally. A detailed case count shows the extent of the coronavirus outbreak, with tables of the number of cases by state and country">
    <meta property="twitter:image" content="https://raw.githubusercontent.com/prashantpandey9/Covid19-India-tracker/master/static/media/images/coro.jpg">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-165393109-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-165393109-1');
    </script>
    {%include 'css.html'%}
    
  </head>
  <body style="background-color: #000;"   >

  {% include 'nav.html' %}

  {% block content %}

  {% endblock content %}
 
  {% include 'contact.html' %}
	
  {%include 'footer.html'%}

	{%include 'js.html'%}
  
  </body>
</html>
