{%load static%}
<style>
@media(max-width:425px)
{

.contact .col-sm-6 p {
  margin-left: 12px;
  font-size: .8rem;
}
}
@media(max-width:768px){
	.contact .col-sm-6 p {
		margin-left: 12px;
		font-size: 1rem;
	}
}
</style>

<!-- Contact Section Started -->
	<section class="contact" id="contact">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12" >
					<center><h1> CONTACT US </h1></center>
					
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6" >	
					
					<p>
						<span class="fa fa-envelope"></span>
 							Email: prashantpandey94551@gmail.com
							 rajattiwari785@gmail.com
						
					</p>
					<p>
						<span class="fa fa-globe"></span>
 							Website: www.covidindiaa.pythonanywhere.com
						
					</p>
					<p>
						<span class="fa fa-phone"></span>
 							 Phone: +91-8057152295,+91-8273004988
								
					</p>
					
				</div>
				<div class="col-sm-6">
					
					<form class="form-horizontal" method="POST">
						{% csrf_token %}
						<div class="form-group">
							<label class="sr-only" for="email">Email address:</label>
							<input name="mail" type="email" class="form-control" id="email" placeholder="user_name@mail.com">
						</div>
						<div class="form-group">
							<label class="sr-only" for="pwd" >Name:</label>
							<input name="name" type="text" class="form-control" id="pwd"  placeholder="your_name">
						</div>
						<div class="form-group">
							<label class="sr-only" for="pwd" > Message:</label>
							<textarea type="text" name="message" class="form-control" id="pwd" placeholder="Type something here....."></textarea>
						</div>
						<div> 
						<button type="submit" class="btn btn-primary">Submit</button>
						</div>
					</form>
					</div>				
				</div>
			</div>
		</div>		
	</section>
<!-- Contact Section Ended -->