{%extends 'base.html'%}
{% load static %}
{% block content%}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            {% include 'nav.html' %}
        </div>

        <div class="col-sm-10">
            <div class="col-sm-12 box">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-12 banner">Global</div>
                        <div class="row data">
                            <div class="col-sm-3 t-red">{{data2.cases}}<span>   [+{{data2.todayCases}}]</span>
                            <p>Confirmed</p>                           
                            </div>
                            <div class="col-sm-3 t-green">{{data2.recovered}}
                            <p>Recovered</p></div>
                            <div class="col-sm-3 activ-t">{{data2.active}}
                            <p>Active</p></div>
                            <div class="col-sm-3 t-red">{{data2.deaths}}<span>   [+{{data2.todayDeaths}}]</span>
                            <p>Deaths</p></div>
                        </div>
                       
                    </div>
                    
                </div>
            </div>
            <h1 style="background:#fff;margin-bottom:0;font-weight:bold;"> <center>Country Data</center></h1>
            <div id="table-wrapper">
                <div id="table-scroll">
                    <table class="table table-hover table-fixed table-primary " id="india">
                        <thead>
                        <tr style="text-align:center">
                            <th scope="col">Flag</th>
                            <th scope="col">Country</th>
                            <th scope="col" class="b-green t-green"> Total Confirmed</th>
                            <th scope="col" class="activ">Active Cases</th>
                            <th scope="col" class="activ"> Total Recovered</th>
                            <th scope="col" class="b-red t-red"> Total Deaths </th>
                            
                        </tr>
                        </thead>
                        <tbody>

                        
                            {% for dt in data1 %}
                        <tr style="text-align:center">
                            <td><img src="{{dt.countryInfo.flag}}" style='width:50px;'></td>
                            <td> {{dt.country}}</td>
                            <td  class="t-green b-green"> {{dt.cases}} <span class='t-red'> [+{{dt.todayCases}}]</span></td>
                            <td class='activ'> {{dt.active}}</td>
                            
                            <td class='activ'> {{dt.recovered}} </td>

                            <td class='t-red b-red'> {{dt.deaths}} <span >[+{{dt.todayDeaths}}]</span></td>
                        
                            <td> {{dt.lastupdatedtime}}</td>
                        </tr>
                        {%endfor%}

                        </tbody>
                    </table>
                </div>
            </div>
            
        </div>
    </div>
</div>

{% endblock%} 