{%extends 'base.html'%}
{% load static %}
{% block content%}

<div class="container">

  <h1 style="position: relative;text-align: center;">India Covid Dashboard</h1>
  
        <div id="table-wrapper">
            <div id="table-scroll">
                <table class="table table-hover table-warning">
                    <thead>
                    <tr style="text-align:center">
                        <th scope="col">State</th>
                        <th scope="col">Statecode</th>
                        <th scope="col" style="background-color:rgba(68,155,226,.3)">Active Cases</th>
                        <th scope="col" style="background-color:rgba(40,167,69,.3)"> Total Confirmed</th>
                        <th scope="col" style="background-color:rgba(255,7,58,.12549)"> Total Deaths </th>
                        <th scope="col">Last Updated Time</th>
                    </tr>
                    </thead>
                    <tbody>

                    
                        {% for dt in data.statewise %}
                    <tr style="text-align:center">
                        <td> {{dt.state}}</td>
                        <td> {{dt.statecode}}</td>
                        <td class='activ'> {{dt.active}} <span class="t-green">[-{{dt.deltarecovered}}]<span></td>

                        <td  class="t-green b-green"> {{dt.confirmed}} <span class='t-red'> [+{{dt.deltaconfirmed}}]</span></td>

                        <td class='t-red b-red'> {{dt.deaths}} <span >[+{{dt.deltadeaths}}]</span></td>
                    
                        <td> {{dt.lastupdatedtime}}</td>
                    </tr>

                    
                    

                    {%endfor%}

                    </tbody>
                </table>
            </div>
        </div>
    
</div>

{% endblock%} 