{% load static %}
<!-- nav start-->
<nav class="menu">              
    <ul>
        <li>
            <h3>🇮🇳 Covid19 <span>India</span></h3>
        </li>
        <li>
            <a href="{% url 'tracks' %}">                        
                <i class="fa fa-globe"></i>
                <span>GLOBAL</span>
            </a>
        </li>
        <li>
            <a href="{% url 'track' %}">
                <i class="fa fa-industry"></i>
                <span>NATION</span>
            </a>
        </li>
        <li>
            <a href="#0">
                <i class="fa fa-question-circle"></i>
                <span>FAQs</span>
            </a>
        </li>
        <li>
            <a href="#0">
                <i class="fa fa-user"></i>
                <span>About Us</span>
            </a>
        </li>
        <li>
            <a href="#contact">
                <i class="fa fa-phone"></i>
                <span>Contact</span>
            </a>
        </li>
        <li>
            <a href="#0"> 
                <i class="fa fa-bar-chart"></i>
                <span>Charts</span>
            </a>
        </li>
        <li>
    </ul>
</nav>
<!-- nav ended-->