{% load static %}
<style>
    #dow{
        width: 100%;
    }
    #tweet{
        margin-top: 20px;
    }
    @media(max-width:425px){
       .side{
           margin-top: 50px;
       }
    }

</style>

    <div class="card">
        <div class="card-img">
            <img class="img-fluid" src="{%static 'media/images/arogya.jpg'%}" alt="Arogyasetu">
        </div>
        <a href="https://apps.apple.com/in/app/aarogyasetu/id1505825357" id='dow'  class="btn btn-primary">Download for<i class="fa fa-apple"></i></a>
        <a href="https://play.google.com/store/apps/details?id=nic.goi.aarogyasetu&hl=en_GB" id="dow"  class="btn btn-primary">Download for<i class="fa fa-android"></i></a>
    </div>

    <div id="tweet">
        <a class="twitter-timeline" data-height="500" data-theme="light" href="https://twitter.com/HRDMinistry?ref_src=twsrc%5Etfw">Tweets by HRDMinistry</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

