{% load static %}
<style>
    #dow{
        width: 100%;
    }
    @media(max-width:425px){
       .side{
           margin-top: 50px;
       }
    }

</style>
<div class="container side">
    <div class="card">
        <div class="card-img">
            <img class="img-fluid" src="{%static 'media/images/arogya.jpg'%}" alt="Arogyasetu">   
        </div>
    </div>
<a href="https://apps.apple.com/in/app/aarogyasetu/id1505825357" id='dow'  class="btn btn-primary">Download for<i class="fa fa-apple"></i></a>
<a href="https://play.google.com/store/apps/details?id=nic.goi.aarogyasetu&hl=en_GB" id="dow"  class="btn btn-primary">Download for<i class="fa fa-android"></i></a>    
</div>
